<a href="https://colab.research.google.com/github/lightfury36/AJAX-Movie-Recommendation-System-with-Sentiment-Analysis/blob/main/2_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded = files.upload()

Saving credits.csv to credits.csv

In [100]:
credits = pd.read_csv("credits.csv")

In [101]:
credits

                                                                             cast  ...      id
0      [{'cast_id': 14, 'character': 'Woody (voice)', 'credit_id': '52fe4284c3...  ...     862
1      [{'cast_id': 1, 'character': 'Alan Parrish', 'credit_id': '52fe44bfc3a3...  ...    8844
2      [{'cast_id': 2, 'character': 'Max Goldman', 'credit_id': '52fe466a92514...  ...   15602
3      [{'cast_id': 1, 'character': "Savannah 'Vannah' Jackson", 'credit_id': ...  ...   31357
4      [{'cast_id': 1, 'character': 'George Banks', 'credit_id': '52fe44959251...  ...   11862
...                                                                           ...  ...     ...
45471  [{'cast_id': 0, 'character': '', 'credit_id': '5894a909925141427e0079a5...  ...  439050
45472  [{'cast_id': 1002, 'character': 'Sister Angela', 'credit_id': '52fe4af1...  ...  111109
45473  [{'cast_id': 6, 'character': 'Emily Shaw', 'credit_id': '52fe4776c3a368...  ...   67758
45474  [{'cast_id': 2, 'character': '', 'credit_id': '52fe4ea59251416c7515d7d5...  ...  227506
45475                                                                          []  ...  461257

[45476 rows x 3 columns]

In [3]:
from google.colab import files
uploaded = files.upload()

Saving movies_metadata.csv to movies_metadata.csv

In [8]:
meta = pd.read_csv("movies_metadata.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
meta.head()

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [10]:
meta['release_date'] = pd.to_datetime(meta['release_date'], errors = 'coerce')

meta['year'] = meta['release_date'].dt.year

meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [11]:
# Getting only 2017 movies as we already have movies up to the year 2016 in preprocessing 1 file. 
# We don't have enough data for the movies from 2018, 2019 and 2020. 
# We'll deal with it in the upcoming preprocessing files

new_meta = meta.loc[meta.year == 2017, ['genres','id','title','year']]

In [12]:
new_meta

                                                  genres  ...    year
26560  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...  ...  2017.0
26561  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26565  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
26566  [{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...  ...  2017.0
30536  [{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...  ...  2017.0
...                                                  ...  ...     ...
45398  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...  ...  2017.0
45417  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...  ...  2017.0
45437  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...  ...  2017.0
45453  [{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...  ...  2017.0
45465                                                 []  ...  2017.0

[532 rows x 4 columns]

In [13]:
new_meta['id'] = new_meta['id'].astype(int)

data = pd.merge(credits, new_meta, on='id')
pd.set_option('display.max_colwidth', 75)

data

                                                                           cast  ...    year
0    [{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...  ...  2017.0
1    [{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...  ...  2017.0
2    [{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...  ...  2017.0
3    [{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...  ...  2017.0
4    [{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...  ...  2017.0
..                                                                          ...  ...     ...
526  [{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001...  ...  2017.0
527  [{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04...  ...  2017.0
528                                                                          []  ...  2017.0
529  [{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3...  ...  2017.0
530                                                                          []  ...  2017.0

[531 rows x 6 columns]

In [26]:
# evaluates an expression node or a string containing a Python literal or container display

import ast
data['genres'] = data['genres'].map(lambda x : ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x : ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [29]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == "Science Fiction":
            scifi = "Sci-Fi"
            gen.append(scifi)
        else:
          gen.append(i.get('name'))
        if gen == []:
            return np.nan
        else:
            return (st.join(gen))

            #print(st.join(gen))

In [30]:
data["genres_list"] = data["genres"].map(lambda x : make_genresList(x))

In [31]:
data["genres_list"]

0      Adventure
1         Action
2         Action
3         Action
4        Fantasy
         ...
526      Romance
527        Crime
528       Family
529        Crime
530         None
Name: genres_list, Length: 531, dtype: object

In [34]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [35]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))

In [36]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [37]:
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))

In [38]:
data['actor_2_name']

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object

In [50]:
def get_actor3(x):
    cast = []
    for i in x:
        cast.append(i.get('name'))
        if cast == [] or len(cast)<=2:
            return np.NaN
        else:
            return (cast[2])

In [51]:
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

In [52]:
data['actor_3_name']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
526   NaN
527   NaN
528   NaN
529   NaN
530   NaN
Name: actor_3_name, Length: 531, dtype: float64

In [53]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [54]:

data['director_name'] = data['crew'].map(lambda x: get_directors(x))

In [55]:
data['director_name']

0      Joachim Rønning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
526                  Hannaleena Hauru
527             Jonathan A. Rosenbaum
528          Beth David Esteban Bravo
529                      Ravi Udyawar
530                     Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [56]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [57]:
movie

                      director_name  ...                                             title
0    Joachim Rønning Espen Sandberg  ...  Pirates of the Caribbean: Dead Men Tell No Tales
1                       Zack Snyder  ...                                    Justice League
2                     Taika Waititi  ...                                    Thor: Ragnarok
3                        James Gunn  ...                    Guardians of the Galaxy Vol. 2
4                     Sean McNamara  ...                               The King's Daughter
..                              ...  ...                                               ...
526                Hannaleena Hauru  ...                  Thick Lashes of Lauri Mäntyvaara
527           Jonathan A. Rosenbaum  ...                       Cop and a Half: New Recruit
528        Beth David Esteban Bravo  ...                                    In a Heartbeat
529                    Ravi Udyawar  ...                                               Mom
530                   Daisy Asquith  ...                                          Queerama

[531 rows x 6 columns]

In [73]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [74]:
movie = movie.dropna(how='any')

In [75]:
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [76]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [77]:
movie['movie_title'] = movie['movie_title'].str.lower()

In [78]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [79]:
movie

Empty DataFrame
Columns: [director_name, actor_1_name, actor_2_name, actor_3_name, genres, movie_title, comb]
Index: []

In [83]:
from google.colab import files
uploaded = files.upload()

Saving Data.csv to Data.csv

In [88]:
old = pd.read_csv("Data.csv")

In [89]:
old

          director_name  ...                                             movie_title
0         James Cameron  ...                                                  avatar
1        Gore Verbinski  ...                pirates of the caribbean: at world's end
2            Sam Mendes  ...                                                 spectre
3     Christopher Nolan  ...                                   the dark knight rises
4           Doug Walker  ...  star wars: episode vii - the force awakens
...                 ...  ...                                                     ...
5038        Scott Smith  ...                                 signed sealed delivered
5039            unknown  ...                               the following
5040   Benjamin Roberds  ...                                    a plague so pleasant
5041        Daniel Hsia  ...                                        shanghai calling
5042           Jon Gunn  ...                                       my date with drew

[5043 rows x 6 columns]

In [90]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']

In [91]:
old

          director_name  ...                                                                        comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4           Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
...                 ...  ...                                                                         ...
5038        Scott Smith  ...             Eric Mabius Daphne Zuniga Crystal Lowe Scott Smith Comedy Drama
5039            unknown  ...  Natalie Zea Valorie Curry Sam Underwood unknown Crime Drama Mystery Thr...
5040   Benjamin Roberds  ...  Eva Boehnke Maxwell Moody David Chandler Benjamin Roberds Drama Horror ...
5041        Daniel Hsia  ...        Alan Ruck Daniel Henney Eliza Coupe Daniel Hsia Comedy Drama Romance
5042           Jon Gunn  ...                  John August Brian Herzlinger Jon Gunn Jon Gunn Documentary

[5043 rows x 7 columns]

In [92]:
new = old.append(movie)

In [93]:
new

          director_name  ...                                                                        comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4           Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
...                 ...  ...                                                                         ...
5038        Scott Smith  ...             Eric Mabius Daphne Zuniga Crystal Lowe Scott Smith Comedy Drama
5039            unknown  ...  Natalie Zea Valorie Curry Sam Underwood unknown Crime Drama Mystery Thr...
5040   Benjamin Roberds  ...  Eva Boehnke Maxwell Moody David Chandler Benjamin Roberds Drama Horror ...
5041        Daniel Hsia  ...        Alan Ruck Daniel Henney Eliza Coupe Daniel Hsia Comedy Drama Romance
5042           Jon Gunn  ...                  John August Brian Herzlinger Jon Gunn Jon Gunn Documentary

[5043 rows x 7 columns]

In [94]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [95]:
new

          director_name  ...                                                                        comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4           Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
...                 ...  ...                                                                         ...
5038        Scott Smith  ...             Eric Mabius Daphne Zuniga Crystal Lowe Scott Smith Comedy Drama
5039            unknown  ...  Natalie Zea Valorie Curry Sam Underwood unknown Crime Drama Mystery Thr...
5040   Benjamin Roberds  ...  Eva Boehnke Maxwell Moody David Chandler Benjamin Roberds Drama Horror ...
5041        Daniel Hsia  ...        Alan Ruck Daniel Henney Eliza Coupe Daniel Hsia Comedy Drama Romance
5042           Jon Gunn  ...                  John August Brian Herzlinger Jon Gunn Jon Gunn Documentary

[4917 rows x 7 columns]

In [96]:
new.to_csv('new_data.csv',index=False)

In [98]:
new

          director_name  ...                                                                        comb
0         James Cameron  ...  CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1        Gore Verbinski  ...  Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2            Sam Mendes  ...  Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3     Christopher Nolan  ...  Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4           Doug Walker  ...                      Doug Walker Rob Walker unknown Doug Walker Documentary
...                 ...  ...                                                                         ...
5038        Scott Smith  ...             Eric Mabius Daphne Zuniga Crystal Lowe Scott Smith Comedy Drama
5039            unknown  ...  Natalie Zea Valorie Curry Sam Underwood unknown Crime Drama Mystery Thr...
5040   Benjamin Roberds  ...  Eva Boehnke Maxwell Moody David Chandler Benjamin Roberds Drama Horror ...
5041        Daniel Hsia  ...        Alan Ruck Daniel Henney Eliza Coupe Daniel Hsia Comedy Drama Romance
5042           Jon Gunn  ...                  John August Brian Herzlinger Jon Gunn Jon Gunn Documentary

[4917 rows x 7 columns]