<a href="https://colab.research.google.com/github/lightfury36/AJAX-Movie-Recommendation-System-with-Sentiment-Analysis/blob/main/3_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

## Extracting features of 2018 movies from Wikipedia

In [6]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [7]:
df1

    Opening  Opening.1  ...                                      Cast and crew  Ref.
0   JANUARY          5  ...  Adam Robitel (director); Leigh Whannell (scree...   [2]
1   JANUARY          5  ...  Lauren Wolkstein (director); Christopher Radcl...   [3]
2   JANUARY          5  ...  Simon West (director); Duncan Falconer, Warren...   [4]
3   JANUARY         10  ...  Warwick Thornton (director); David Tranter, St...   [5]
4   JANUARY         12  ...  Jaume Collet-Serra (director); Byron Willinger...   [6]
..      ...        ...  ...                                                ...   ...
69    MARCH         29  ...  Steven Spielberg (director); Ernest Cline, Zak...  [71]
70    MARCH         30  ...  Tyler Perry (director/screenplay); Taraji P. H...  [72]
71    MARCH         30  ...  Michael Mason (director/screenplay); David A. ...  [73]
72    MARCH         30  ...  Aaron Katz (director/screenplay); Lola Kirke, ...  [74]
73    MARCH         30  ...  Adam Rifkin (director/screenplay); Burt Reynol...  [75]

[74 rows x 6 columns]

In [8]:
df2

   Opening  Opening.1  ...                                      Cast and crew   Ref.
0    APRIL          6  ...  John Krasinski (director/screenplay); Scott Be...   [76]
1    APRIL          6  ...  Kay Cannon (director); Eben Russell, Jon Hurwi...   [77]
2    APRIL          6  ...  Lynne Ramsay (director/screenplay); Joaquin Ph...   [78]
3    APRIL          6  ...  John Curran (director); Taylor Allen, Andrew L...   [79]
4    APRIL          6  ...  Drew Fellman, David Douglas (directors); Drew ...   [80]
..     ...        ...  ...                                                ...    ...
58    JUNE         28  ...  Mike P. Nelson (director/screenplay); Tyler Ho...  [130]
59    JUNE         29  ...  Stefano Sollima (director); Taylor Sheridan (s...  [131]
60    JUNE         29  ...  Debra Granik (director/screenplay); Anne Rosel...  [132]
61    JUNE         29  ...  Charles Stone III (director); Jay Longino (scr...  [133]
62    JUNE         29  ...  Susanna White (director); Steven Knight (scree...  [134]

[63 rows x 6 columns]

In [9]:
df = df1.append(df2.append(df3.append(df4,ignore_index = True),ignore_index = True),ignore_index = True)

In [10]:
df #we can see that there is no "genre" column in the below table. WE are going to install the LIBRARY : tmdbv3api to access th genres in the next step.

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
264  DECEMBER  ...  [163]
265  DECEMBER  ...  [137]
266  DECEMBER  ...  [226]
267  DECEMBER  ...  [258]
268  DECEMBER  ...  [259]

[269 rows x 6 columns]

In [11]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading https://files.pythonhosted.org/packages/d9/e5/865501cd4746070930e542ae3ee574a1ffe29ccad7f273fb89440c32973e/tmdbv3api-1.7.5-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.5

In [16]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '7affb24a35ef0b7b12979d2bc9e566f5'

In [17]:

from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [18]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [19]:
df

      Opening  ...                                           genres
0     JANUARY  ...                          Horror Mystery Thriller
1     JANUARY  ...                                   Thriller Drama
2     JANUARY  ...                                  Action Thriller
3     JANUARY  ...                            Drama History Western
4     JANUARY  ...                                  Action Thriller
..        ...  ...                                              ...
264  DECEMBER  ...                   Mystery Adventure Comedy Crime
265  DECEMBER  ...        Thriller Science Fiction Action Adventure
266  DECEMBER  ...                                    Drama History
267  DECEMBER  ...                      Thriller Crime Drama Action
268  DECEMBER  ...  Science Fiction Mystery Drama Thriller TV Movie

[269 rows x 7 columns]

In [20]:
df_2018 = df[['Title','Cast and crew','genres']]

In [21]:
df_2018

                          Title  ...                                           genres
0       Insidious: The Last Key  ...                          Horror Mystery Thriller
1              The Strange Ones  ...                                   Thriller Drama
2                      Stratton  ...                                  Action Thriller
3                 Sweet Country  ...                            Drama History Western
4                  The Commuter  ...                                  Action Thriller
..                          ...  ...                                              ...
264             Holmes & Watson  ...                   Mystery Adventure Comedy Crime
265                        Vice  ...        Thriller Science Fiction Action Adventure
266         On the Basis of Sex  ...                                    Drama History
267                   Destroyer  ...                      Thriller Crime Drama Action
268  Black Mirror: Bandersnatch  ...  Science Fiction Mystery Drama Thriller TV Movie

[269 rows x 3 columns]

In [22]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [23]:
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [25]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [26]:
df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [28]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [29]:
df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [31]:
df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [32]:
df_2018

                          Title  ...    actor_3_name
0       Insidious: The Last Key  ...  Leigh Whannell
1              The Strange Ones  ...   Emily Althaus
2                      Stratton  ...      Gemma Chan
3                 Sweet Country  ...             NaN
4                  The Commuter  ...  Patrick Wilson
..                          ...  ...             ...
264             Holmes & Watson  ...    Rebecca Hall
265                        Vice  ...    Steve Carell
266         On the Basis of Sex  ...  Justin Theroux
267                   Destroyer  ...    Toby Kebbell
268  Black Mirror: Bandersnatch  ...   Asim Chaudhry

[269 rows x 7 columns]

In [33]:
df_2018 = df_2018.rename(columns={'Title':'movie_title'})

In [34]:
new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [35]:
new_df18

          director_name  ...                 movie_title
0          Adam Robitel  ...     Insidious: The Last Key
1      Lauren Wolkstein  ...            The Strange Ones
2            Simon West  ...                    Stratton
3      Warwick Thornton  ...               Sweet Country
4    Jaume Collet-Serra  ...                The Commuter
..                  ...  ...                         ...
264          Etan Cohen  ...             Holmes & Watson
265          Adam McKay  ...                        Vice
266          Mimi Leder  ...         On the Basis of Sex
267        Karyn Kusama  ...                   Destroyer
268         David Slade  ...  Black Mirror: Bandersnatch

[269 rows x 6 columns]

In [36]:
new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan, 'unknown')
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan, 'unknown')

In [37]:
new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [38]:
new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']

In [39]:
new_df18

          director_name  ...                                               comb
0          Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1      Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2            Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3      Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4    Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                  ...  ...                                                ...
264          Etan Cohen  ...  Will Ferrell John C. Reilly Rebecca Hall Etan ...
265          Adam McKay  ...  Christian Bale Amy Adams Steve Carell Adam McK...
266          Mimi Leder  ...  Felicity Jones Armie Hammer Justin Theroux Mim...
267        Karyn Kusama  ...  Nicole Kidman Sebastian Stan Toby Kebbell Kary...
268         David Slade  ...  Fionn Whitehead Will Poulter Asim Chaudhry Dav...

[269 rows x 7 columns]

## Extracting features of 2019 movies from Wikipedia

In [40]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2019"
df1 = pd.read_html(link, header=0)[2]
df2 = pd.read_html(link, header=0)[3]
df3 = pd.read_html(link, header=0)[4]
df4 = pd.read_html(link, header=0)[5]

In [41]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [42]:
df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    [5]
4     JANUARY  ...    [6]
..        ...  ...    ...
237  DECEMBER  ...  [132]
238  DECEMBER  ...  [221]
239  DECEMBER  ...  [222]
240  DECEMBER  ...  [223]
241  DECEMBER  ...  [224]

[242 rows x 6 columns]

In [43]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [44]:
df_2019 = df[['Title','Cast and crew','genres']]

In [45]:
df_2019

                 Title  ...                                    genres
0          Escape Room  ...  Thriller Action Mystery Adventure Horror
1           Rust Creek  ...                            Thriller Drama
2     American Hangman  ...                                  Thriller
3     A Dog's Way Home  ...                    Drama Adventure Family
4           The Upside  ...                              Comedy Drama
..                 ...  ...                                       ...
237  Spies in Disguise  ...  Animation Action Adventure Comedy Family
238       Little Women  ...                             Drama Romance
239               1917  ...                 War Drama Action Thriller
240         Just Mercy  ...                       Drama Crime History
241           Clemency  ...                                     Drama

[242 rows x 3 columns]

In [46]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [47]:
df_2019['director_name'] = df_2019['Cast and crew'].map(lambda x: get_director(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [49]:
df_2019['actor_1_name'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [50]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [51]:
df_2019['actor_2_name'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [53]:
df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [54]:
df_2019 = df_2019.rename(columns={'Title':'movie_title'})

In [55]:
new_df19 = df_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [56]:
new_df19['actor_2_name'] = new_df19['actor_2_name'].replace(np.nan, 'unknown')
new_df19['actor_3_name'] = new_df19['actor_3_name'].replace(np.nan, 'unknown')

In [57]:
new_df19['movie_title'] = new_df19['movie_title'].str.lower()

In [58]:
new_df19['comb'] = new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' '+ new_df19['actor_3_name'] + ' '+ new_df19['director_name'] +' ' + new_df19['genres']

In [59]:
new_df19

              director_name  ...                                               comb
0              Adam Robitel  ...  Taylor Russell Logan Miller Deborah Ann Woll A...
1               Jen McGowan  ...  Hermione Corfield Jay Paulson Sean O'Bryan Jen...
2         Wilson Coneybeare  ...  Donald Sutherland Vincent Kartheiser Oliver De...
3      Charles Martin Smith  ...  Bryce Dallas Howard Edward James Olmos Alexand...
4               Neil Burger  ...  Bryan Cranston Kevin Hart Nicole Kidman Neil B...
..                      ...  ...                                                ...
237  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
238            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
239              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
240   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
241         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[242 rows x 7 columns]

In [60]:
my_df = new_df18.append(new_df19,ignore_index=True)

In [61]:
my_df

              director_name  ...                                               comb
0              Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1          Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2                Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3          Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4        Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                      ...  ...                                                ...
506  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
507            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
508              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
509   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
510         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[511 rows x 7 columns]

In [69]:
from google.colab import files
uploaded = files.upload()

Saving Data.csv to Data.csv

In [71]:
old_df = pd.read_csv("Data.csv")

old_df

          director_name  ...                                        movie_title
0         James Cameron  ...                                             avatar
1        Gore Verbinski  ...           pirates of the caribbean: at world's end
2            Sam Mendes  ...                                            spectre
3     Christopher Nolan  ...                              the dark knight rises
4           Doug Walker  ...  star wars: episode vii - the force awakens    ...
...                 ...  ...                                                ...
5038        Scott Smith  ...                            signed sealed delivered
5039            unknown  ...                          the following
5040   Benjamin Roberds  ...                               a plague so pleasant
5041        Daniel Hsia  ...                                   shanghai calling
5042           Jon Gunn  ...                                  my date with drew

[5043 rows x 6 columns]

In [72]:
final_df = old_df.append(my_df,ignore_index=True)

In [73]:
final_df

               director_name  ...                                               comb
0              James Cameron  ...                                                NaN
1             Gore Verbinski  ...                                                NaN
2                 Sam Mendes  ...                                                NaN
3          Christopher Nolan  ...                                                NaN
4                Doug Walker  ...                                                NaN
...                      ...  ...                                                ...
5549  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5550            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5551              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5552   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5553         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[5554 rows x 7 columns]

In [74]:
final_df.isna().sum()

director_name       0
actor_1_name        0
actor_2_name        0
actor_3_name        0
genres              3
movie_title         0
comb             5046
dtype: int64

In [76]:
final_df = final_df.dropna(how='any')

In [77]:
final_df = final_df.dropna(how='any')

In [79]:
final_df.to_csv('final_data.csv',index=False)

In [80]:
final_df

               director_name  ...                                               comb
5043            Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
5044        Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
5045              Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
5046        Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
5047      Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
...                      ...  ...                                                ...
5549  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
5550            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
5551              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
5552   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
5553         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[508 rows x 7 columns]