<a href="https://colab.research.google.com/github/lightfury36/AJAX-Movie-Recommendation-System-with-Sentiment-Analysis/blob/main/4_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests
import bs4 as bs
import urllib.request

## Extracting features of 2020 movies from Wikipedia

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_American_films_of_2020"

In [3]:
source = urllib.request.urlopen(link).read()
soup = bs.BeautifulSoup(source,'lxml')

In [4]:
tables = soup.find_all('table',class_='wikitable sortable')

In [5]:
len(tables)

4

In [6]:
type(tables[0])

bs4.element.Tag

In [7]:
df1 = pd.read_html(str(tables[0]))[0]
df2 = pd.read_html(str(tables[1]))[0]
df3 = pd.read_html(str(tables[2]))[0]
df4 = pd.read_html(str(tables[3]).replace("'1\"\'",'"1"'))[0] # avoided "ValueError: invalid literal for int() with base 10: '1"'

In [8]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [9]:
df

      Opening  ...   Ref.
0     JANUARY  ...    [2]
1     JANUARY  ...    [3]
2     JANUARY  ...    [4]
3     JANUARY  ...    NaN
4     JANUARY  ...    [5]
..        ...  ...    ...
264  DECEMBER  ...  [237]
265  DECEMBER  ...  [238]
266  DECEMBER  ...  [239]
267  DECEMBER  ...  [240]
268  DECEMBER  ...  [241]

[269 rows x 6 columns]

In [10]:
df_2020 = df[['Title','Cast and crew']]

In [11]:
df_2020

                     Title                                      Cast and crew
0               The Grudge  Nicolas Pesce (director/screenplay); Andrea Ri...
1               Underwater  William Eubank (director); Brian Duffield, Ada...
2              Like a Boss  Miguel Arteta (director); Sam Pitman, Adam Col...
3            Three Christs  Jon Avnet (director/screenplay); Eric Nazarian...
4        Inherit the Viper  Anthony Jerjen (director); Andrew Crabtree (sc...
..                     ...                                                ...
264       We Can Be Heroes  Robert Rodriguez (director/screenplay); Priyan...
265      News of the World  Paul Greengrass (director/screenplay); Luke Da...
266  One Night in Miami...  Regina King (director); Kemp Powers (screenpla...
267  Promising Young Woman  Emerald Fennell (director/screenplay); Carey M...
268      Pieces of a Woman  Kornél Mundruczó (director); Kata Wéber (scree...

[269 rows x 2 columns]

In [12]:
!pip install tmdbv3api

Collecting tmdbv3api
  Downloading https://files.pythonhosted.org/packages/d9/e5/865501cd4746070930e542ae3ee574a1ffe29ccad7f273fb89440c32973e/tmdbv3api-1.7.5-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from tmdbv3api) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->tmdbv3api) (2020.12.5)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.5

In [16]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = '7affb24a35ef0b7b12979d2bc9e566f5'

In [17]:
from tmdbv3api import Movie
tmdb_movie = Movie() 
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    if not result:
      return np.NaN
    else:
      movie_id = result[0].id
      response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
      data_json = response.json()
      if data_json['genres']:
          genre_str = " " 
          for i in range(0,len(data_json['genres'])):
              genres.append(data_json['genres'][i]['name'])
          return genre_str.join(genres)
      else:
          return np.NaN

In [18]:
df_2020['genres'] = df_2020['Title'].map(lambda x: get_genre(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_2020

                     Title  ...                                  genres
0               The Grudge  ...                 Horror Mystery Thriller
1               Underwater  ...  Action Horror Science Fiction Thriller
2              Like a Boss  ...                                  Comedy
3            Three Christs  ...                                   Drama
4        Inherit the Viper  ...                    Drama Thriller Crime
..                     ...  ...                                     ...
264       We Can Be Heroes  ...      Action Fantasy Family Drama Comedy
265      News of the World  ...          Action Adventure Drama Western
266  One Night in Miami...  ...                                   Drama
267  Promising Young Woman  ...                    Thriller Crime Drama
268      Pieces of a Woman  ...                                   Drama

[269 rows x 3 columns]

In [20]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [21]:
df_2020['director_name'] = df_2020['Cast and crew'].map(lambda x: get_director(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [22]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [23]:
df_2020['actor_1_name'] = df_2020['Cast and crew'].map(lambda x: get_actor1(str(x)))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [24]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [25]:
df_2020['actor_2_name'] = df_2020['Cast and crew'].map(lambda x: get_actor2(str(x)))

In [26]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [27]:
df_2020['actor_3_name'] = df_2020['Cast and crew'].map(lambda x: get_actor3(str(x)))

In [28]:
df_2020

                     Title  ...     actor_3_name
0               The Grudge  ...         John Cho
1               Underwater  ...  Jessica Henwick
2              Like a Boss  ...      Salma Hayek
3            Three Christs  ...   Walton Goggins
4        Inherit the Viper  ...   Chandler Riggs
..                     ...  ...              ...
264       We Can Be Heroes  ...    YaYa Gosselin
265      News of the World  ...              NaN
266  One Night in Miami...  ...      Aldis Hodge
267  Promising Young Woman  ...      Alison Brie
268      Pieces of a Woman  ...     Molly Parker

[269 rows x 7 columns]

In [29]:
df_2020 = df_2020.rename(columns={'Title':'movie_title'})

In [30]:
new_df20 = df_2020.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [31]:
new_df20

        director_name  ...            movie_title
0       Nicolas Pesce  ...             The Grudge
1      William Eubank  ...             Underwater
2       Miguel Arteta  ...            Like a Boss
3           Jon Avnet  ...          Three Christs
4      Anthony Jerjen  ...      Inherit the Viper
..                ...  ...                    ...
264  Robert Rodriguez  ...       We Can Be Heroes
265   Paul Greengrass  ...      News of the World
266       Regina King  ...  One Night in Miami...
267   Emerald Fennell  ...  Promising Young Woman
268  Kornél Mundruczó  ...      Pieces of a Woman

[269 rows x 6 columns]

In [32]:
new_df20['comb'] = new_df20['actor_1_name'] + ' ' + new_df20['actor_2_name'] + ' '+ new_df20['actor_3_name'] + ' '+ new_df20['director_name'] +' ' + new_df20['genres']

In [33]:
new_df20.isna().sum()

director_name     0
actor_1_name      0
actor_2_name      3
actor_3_name     26
genres            0
movie_title       0
comb             26
dtype: int64

In [34]:
new_df20 = new_df20.dropna(how='any')

In [35]:
new_df20.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres           0
movie_title      0
comb             0
dtype: int64

In [36]:
new_df20['movie_title'] = new_df20['movie_title'].str.lower()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
new_df20

        director_name  ...                                               comb
0       Nicolas Pesce  ...  Andrea Riseborough Demián Bichir John Cho Nico...
1      William Eubank  ...  Kristen Stewart Vincent Cassel Jessica Henwick...
2       Miguel Arteta  ...  Tiffany Haddish Rose Byrne Salma Hayek Miguel ...
3           Jon Avnet  ...  Richard Gere Peter Dinklage Walton Goggins Jon...
4      Anthony Jerjen  ...  Josh Hartnett Margarita Levieva Chandler Riggs...
..                ...  ...                                                ...
263       Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
264  Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
266       Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
267   Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
268  Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[243 rows x 7 columns]

In [39]:
from google.colab import files
uploaded = files.upload()

Saving final_data.csv to final_data.csv

In [40]:
old_df = pd.read_csv('final_data.csv')

In [41]:
old_df

              director_name  ...                                               comb
0              Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1          Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2                Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3          Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4        Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                      ...  ...                                                ...
503  Nick Bruno, Troy Quane  ...  Will Smith Tom Holland Rashida Jones Nick Brun...
504            Greta Gerwig  ...  Saoirse Ronan Emma Watson Florence Pugh Greta ...
505              Sam Mendes  ...  George MacKay Dean-Charles Chapman Mark Strong...
506   Destin Daniel Cretton  ...  Michael B. Jordan Jamie Foxx Brie Larson Desti...
507         Chinonye Chukwu  ...  Alfre Woodard Wendell Pierce Aldis Hodge Chino...

[508 rows x 7 columns]

In [42]:
final_df = old_df.append(new_df20,ignore_index=True)

In [43]:
final_df

          director_name  ...                                               comb
0          Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1      Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2            Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3      Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4    Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                  ...  ...                                                ...
746         Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
747    Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
748         Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
749     Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
750    Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[751 rows x 7 columns]

In [44]:
final_df.to_csv('main_data.csv',index=False)

In [45]:
final_df

          director_name  ...                                               comb
0          Adam Robitel  ...  Lin Shaye Angus Sampson Leigh Whannell Adam Ro...
1      Lauren Wolkstein  ...  Alex Pettyfer James Freedson-Jackson Emily Alt...
2            Simon West  ...  Dominic Cooper Austin Stowell Gemma Chan Simon...
3      Warwick Thornton  ...  Bryan Brown Sam Neill unknown Warwick Thornton...
4    Jaume Collet-Serra  ...  Liam Neeson Vera Farmiga Patrick Wilson Jaume ...
..                  ...  ...                                                ...
746         Pete Docter  ...  Jamie Foxx Tina Fey Graham Norton Pete Docter ...
747    Robert Rodriguez  ...  Priyanka Chopra Jonas Pedro Pascal YaYa Gossel...
748         Regina King  ...  Kingsley Ben-Adir Eli Goree Aldis Hodge Regina...
749     Emerald Fennell  ...  Carey Mulligan Bo Burnham Alison Brie Emerald ...
750    Kornél Mundruczó  ...  Vanessa Kirby Shia LaBeouf Molly Parker Kornél...

[751 rows x 7 columns]